{% extends "../base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="card mb-5">
            <h5 class="card-header">Vehicle Information</h5>
            <div class="card-body">
              <div class="row">
        <div class="col-6">
      <div class="form-group">
       <label for="pwd">StickerNo:</label>
       <input type="text" name="stickernumber" class="form-control" id="pwd">
      </div>
      </div>
     

   <div class="col-6">
   <div class="form-group">
       <label for="pwd">Inspection Location:</label>
       <input type="text" name="location" class="form-control" id="pwd">
   </div>
</div>
   <div class="col-6">
     <div class="form-group">
       <label for="pwd">MDA:</label>
       <input type="tel" name="mda" class="form-control" id="pwd">
   </div>
   </div>
   <div class="col-6">
       <div class="form-group">
           <label for="pwd">Reg No:</label>
           <input type="text" name="regno" class="form-control" id="pwd">
     </div>
    </div>

   <div class="col-6">
     <div class="form-group">
       <label for="usr">Engine No:</label>
       <input type="text" name="engineno" class="form-control" id="usr">
     </div>
     </div>

   <div class="col-6">
     <div class="form-group">
       <label for="pwd">Chassis No:</label>
       <input type="text" name="chassisno" class="form-control" id="pwd">
     </div>
     </div>

   <div class="col-6">
     <div class="form-group">
       <label for="pwd">Year of Manufacture:</label>
       <input type="text" name="year" class="form-control" id="pwd">
     </div>
     </div>

   <div class="col-6">
     <div class="form-group">
      <label for="pwd">Make:</label>
      <input type="text" name="make" class="form-control" id="pwd">
    </div>
    </div>

   <div class="col-6">
    <div class="form-group">
      <label for="pwd">Mileage:</label>
      <input type="text" name="mileage" class="form-control" id="pwd">
    </div>
    </div>

   <div class="col-6">
    <div class="form-group">
      <label for="pwd">Type:</label>
      <input type="text" name="type" class="form-control" id="pwd">
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
    {% comment %} Brakes fields {% endcomment %}
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Brakes</h5>
        <div class="card-body">
          <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="sel1" class="mr-4" style="font-size:20px;"><b>Service Brakes:</b></label>
              <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="servicebrakes" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="servicebrakes" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>
           </div>

           
           <div class="col-6">
            <div class="form-group">
              <label for="sel1" class="mr-4" style="font-size:20px;"><b>Parking Brakes:</b></label>
              <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="parkingbrakes" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="parkingbrakes" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>
           </div>

           <div class="col-6">
            <div class="form-group">
              <label for="sel1" class="mr-4" style="font-size:20px;"><b>Electric Brakes:</b></label>
              <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="electricbrakes" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="electricbrakes" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>
           </div>

           <div class="col-6">
            <div class="form-group">
              <label for="sel1" class="mr-4" style="font-size:20px;"><b>Hydraulic Brakes:</b></label>
              <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="hydraulicbrakes" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="hydraulicbrakes" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>
           </div>

           <div class="col-6">
            <div class="form-group">
              <label for="sel1" class="mr-4" style="font-size:20px;"><b>Vacuum System:</b></label>
              <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="vacuum" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="vacuum" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>
           </div>
       
          <div class="col-6">
            <div class="form-group">
              <label for="sel1" class="mr-4" style="font-size:20px;"><b>Brake drum or Rotors:</b></label>
              <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="brakedrum" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="brakedrum" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>
           </div>
    
       
          <div class="col-6">
           <div class="form-group">
             <label for="sel1" class="mr-4" style="font-size:20px;"><b>Pressure Warning Device:</b></label>
             <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pressurewarning" id="inlineRadio1" value="OK">
              <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pressurewarning" id="inlineRadio2" value="Needs Repairion2">
              <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
            </div>
           </div>
           </div>
       
          <div class="col-6">
           <div class="form-group">
             <label for="sel1" style="font-size:20px; margin-right:20px;"><b>Tractor Protection Valve:</b></label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tractorprotection" id="inlineRadio1" value="OK">
              <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="horsepipes" id="inlineRadio2" value="Needs Repairion2">
              <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
            </div>
           </div>
           </div>

           <div class="col-6">
            <div class="form-group">
              <label for="sel1" style="font-size:20px; margin-right:20px;"><b>Air Compressor:</b></label>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="aircompressor" id="inlineRadio1" value="OK">
               <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="horsepipes" id="inlineRadio2" value="Needs Repairion2">
               <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
             </div>
            </div>

           
           
        </div>
        </div>
      </div>
    </div>
    </div>
    {% comment %} end of brakes fields {% endcomment %}

{% comment %} Cooling system fields {% endcomment %}
    <div class="col-12">
      <div class="card mt-5">
        <h5 class="card-header">Cooling System</h5>
        <div class="card-body">
          <div class="row">
          <div class="col-6">
            <div class="form-group">
             <label for="sel1">Radiator Condition:</label>
             <select name="radiatorcondition" class="form-control" id="sel1">
               <option>Select option</option>
               <option name="OK">OK</option>
               <option name="Needs Repair">Needs Repair</option>
             </select>
           </div>
           </div>
       
          <div class="col-6">
           <div class="form-group">
             <label for="sel1">Fan condition:</label>
             <select name="fancondition" class="form-control" id="sel1">
                 <option>Select option</option>
                 <option name="OK">OK</option>
                 <option name="Needs Repair">Needs Repair</option>
             </select>
           </div>
           </div>
       
          <div class="col-6">
           <div class="form-group">
             <label for="sel1" class="mr-4" style="font-size:20px;"><b>AC condition:</b></label>
             <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac" id="inlineRadio1" value="OK">
              <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ac" id="inlineRadio2" value="Needs Repair">
              <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
            </div>
           </div>
           </div>
       
          <div class="col-6">
           <div class="form-group">
             <label for="sel1" class="mr-4" style="font-size:20px;"><b>Belts:</b></label>
             <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="belts" id="inlineRadio1" value="OK">
              <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="belts" id="inlineRadio2" value="Needs Repair">
              <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
            </div>
           </div>
           </div>
       
          <div class="col-6">
           <div class="form-group">
             <label for="sel1" style="font-size:20px; margin-right:20px;"><b>Horse pipes:</b></label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="horsepipes" id="inlineRadio1" value="OK">
              <label class="form-check-label" for="inlineRadio1" style="font-size:18px;">OK</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="horsepipes" id="inlineRadio2" value="Needs Repair">
              <label class="form-check-label" for="inlineRadio2" style="font-size:18px;">Needs Repair</label>
            </div>
           </div>
        </div>
        </div>
      </div>
    </div>


   

     <div class="col-6">
      <div class="form-group mt-4">
          <label for="pwd">Date:</label>
          <input type="date" name="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
      </div>
      </div> 
     <button type="submit" class="btn btn-success mt-4" style="float:right !important;">Register</button>
   </form>    
  </div>

 {% endblock %}
